$accent-blue: #2a398a;
$error-red: #b92025;

// neutral
$neutral-10: #000;
$neutral-20: #2f2f2f;
$neutral-30: #727272;
$neutral-40: #a1a1a1;
$neutral-50: #c4c4c4;
$neutral-60: #e6e6e6;
$neutral-70: #f3f3f3;
$neutral-80: #f8f8f8;
$neutral-90: #fff;
