$vermilion-cinnabar: #e63946;
$winter-oasis: #f1faee;
$crystal: #a8dadc;
$linoleum-blue: #457b9d;
$estate-blue: #1d3557;

$error-red: $vermilion-cinnabar;

// neutral
$neutral-10: #212529;
$neutral-20: #343a40;
$neutral-30: #495057;
$neutral-40: #6c757d;
$neutral-50: #adb5bd;
$neutral-60: #ced4da;
$neutral-70: #dee2e6;
$neutral-80: #e9ecef;
$neutral-90: #f8f9fa;
