$accent-blue: #2a398a;
$error-red: #b92025;

// neutral
$neutral-10: #212529;
$neutral-20: #343A40;
$neutral-30: #495057;
$neutral-40: #6C757D;
$neutral-50: #ADB5BD;
$neutral-60: #CED4DA;
$neutral-70: #DEE2E6;
$neutral-80: #E9ECEF;
$neutral-90: #F8F9FA;
