@import '../../components/GlobalStyles/scss/variables/colors';
@import '../../components/GlobalStyles/scss/variables/fontstacks';

.block {
  display: flex;
}

.label {
  display: block;
  margin-right: 0.25rem;
}

.select {
  border: 1px solid $neutral-30;
  border-radius: 0.25rem;
  color: $neutral-20;
  display: block;
  font-family: $open-sans;
  font-size: 1rem;
}
