@import '../../GlobalStyles/scss/variables/breakpoints';
@import '../../GlobalStyles/scss/mixins/media-query';

.skip-navigation {
  display: inline-block;
  left: -100%;
  padding: .25rem;
  position: fixed;
  top: 0;
}

.header {
  align-items: center;
  background-color: #ddd;
  display: flex;
  height: 5rem;
  padding: 0 2rem;

  .home-link {
    color: #000;
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0;
  }
}

.main {
  margin: 2rem auto;
  min-height: calc(100vh - 12rem);
  padding: 0 1.5rem;

  @include media-query-min($screen-lg) {
    padding: 0 2rem;
  }

  @include media-query-min($screen-xl) {
    max-width: 84rem;
    padding: 0;
  }
}
