.skip-navigation {
  display: inline-block;
  left: -100%;
  padding: .25rem;
  position: fixed;
  top: 0;
}

.header {
  align-items: center;
  background-color: #ddd;
  display: flex;
  height: 5rem;
  padding: 0 2rem;

  .home-link {
    color: #000;
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0;
  }
}

.main {
  min-height: calc(100vh - 8rem);
}
