@import '../../GlobalStyles/scss/variables/breakpoints';
@import '../../GlobalStyles/scss/mixins/media-query';

.skip-navigation {
  display: inline-block;
  left: -100%;
  padding: .25rem;
  position: fixed;
  top: 0;

  &:focus {
    left: 0;
  }
}

.main {
  margin: 2rem auto;
  min-height: 50vh;
  padding: 0 1.5rem;

  @include media-query-min($screen-lg) {
    padding: 0 2rem;
  }

  @include media-query-min($screen-xl) {
    padding: 0;
  }

  section {
    margin: 0 auto;
    max-width: 75rem;
    padding: 3rem 2rem;

    > *:last-child {
      margin-bottom: 0;
    }
  }
}
