@import '../GlobalStyles/scss/variables/colors';
@import '../GlobalStyles/scss/variables/fontstacks';

.block {
  align-items: flex-start;
  border-top: .0625rem solid $neutral-50;
  display: flex;
  padding: 2rem 0;
}

.date-link {
  text-decoration: none;
}

.content {
  margin-left: 2rem;
}

.venue {
  font-size: 2rem;
  margin: 0;
}

.location {
  font-size: 1.5rem;
  font-weight: 500;
}

.set-list-label {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.set-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  + .set-list-label {
    margin-top: 1.5rem;
  }
}

.song-title {
  font-size: 1.25rem;

  &:not(.song-title--segues) {
    &:after {
      content: ', ';
      white-space: pre;
    }
  }

  &:last-of-type {
    &:after {
      content: '';
    }
  }

  &--segues {
    &:after {
      content: ' > ';
      white-space: pre;
    }
  }
}
