@import '../GlobalStyles/scss/variables/colors';

.block {
  align-items: flex-start;
  border-top: .125rem solid rgba($accent-blue, .25);
  display: flex;
  padding: 2rem 0;
}

.date-container {
  align-items: center;
  background-color: $accent-blue;
  border-radius: .25rem;
  clear: right;
  color: $neutral-80;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-width: 4.5rem;
  padding: .5rem;

  &__weekday {
    font-size: .75rem;
  }

  &__date {
    font-size: 2.5rem;
    line-height: 1;
  }

  &__month {
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
}

.content {
  margin-left: 1.5rem;
}

.venue {
  font-size: 3rem;
  margin: 0;
}

.location {
  font-size: 2rem;
  font-weight: 500;
}

.set-list-label {
  font-size: 1rem;
  margin-bottom: 0;
}

.set-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;

  + .set-list-label {
    margin-top: 1.5rem;
  }
}

.song-title {
  font-size: 1.25rem;

  &:not(.song-title--segues) {
    &:after {
      content: ', ';
      white-space: pre;
    }
  }

  &:last-of-type {
    &:after {
      content: '';
    }
  }

  &--segues {
    &:after {
      content: ' > ';
      white-space: pre;
    }
  }
}
