@import '../../../../GlobalStyles/scss/variables/colors';

.block {
  display: flex;
  justify-content: flex-start;
  height: 5rem;
  list-style: none;
  margin: 0 2rem;
  padding: 0;
}

.list-item {
  + .list-item {
    margin-left: 1rem;
  }
}

.link {
  align-items: flex-end;
  color: $winter-oasis;
  display: flex;
  font-size: 1.125rem;
  height: 100%;
  letter-spacing: 0.0625rem;
  padding: 0.5rem 1rem 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:active {
    color: $crystal;
  }

  &--active {
    color: $crystal;
    font-weight: 700;
  }
}
