@import '../variables/colors.scss';
@import '../variables/fontstacks';

body {
  font-family: $open-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $estate-blue;
  font-family: $noto-serif;
  font-weight: 700;
  margin: 0 0 1em;
  text-rendering: optimizeLegibility;
}

li,
p {
  color: $estate-blue;
}

p {
  line-height: 1.25;
  margin: 0 0 1em;
}

b,
strong {
  font-weight: 600;
}
