@import '../../components/GlobalStyles/scss/variables/colors';

.main {
  display: flex;
}

.content {
  flex: 2 0 auto;
  margin-right: 2rem;
  max-width: 64rem;
}

.sidebar {
  background-color: rgba($accent-blue, .3);
  border-radius: .25rem;
  min-width: 20rem;
  padding: 1.5rem 1rem;
}
