@import '../../components/GlobalStyles/scss/variables/colors';

.section {
  &:first-of-type {
    display: flex;
    flex-wrap: wrap;
  }

  &--set-lists {
    background-color: $crystal;
  }

  &__header {
    flex: 2 0 auto;
    margin: 0 0 0 2rem;

    .venue {
      font-size: 2rem;
      margin: 0;
    }

    .location {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
