@import '../../GlobalStyles/scss/variables/colors';

.block {
  align-items: center;
  color: $winter-oasis;
  background-color: $linoleum-blue;
  min-height: 8rem;
  padding: 1rem 0;

  p {
    margin-bottom: 0;
  }
}
