@import '../../GlobalStyles/scss/variables/colors';

.block {
  align-items: center;
  background-color: $neutral-60;
  display: flex;
  height: 3rem;
  padding: .5rem 0;

  p {
    margin-bottom: 0;
  }
}
